@charset "utf-8";
/* CSS Document */

/* upper footer */

.upper_footer {
	background-color: rgba(131,131,31,0.6);
	background-image: url(../images/asfalt-light.png);
	padding-top: 50px;
	padding-bottom: 50px;
	color: 	 #7A4012;
	border-bottom: solid 2px #7A4012;
	
}

.inner_footer {
min-width: 900px;
max-width: 1500px;
margin: 0 auto;
font-family: 'Arvo', serif;
}

.spacing {
	width: -moz-calc( (100% / 3) - ((100px * 2) / 3) );
	width: -webkit-calc( (100% / 3) - ((100px * 2) / 3) );
	width: calc( (100% / 3) - ((100px * 2) / 3) );
}

.contact_us {
	float: left;

}

.about_us {
	float: left;
	margin-left: 80px;
}

.social {
	float: left;
	text-align: right;	
}

.upper_footer h2 {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 1.5em;
}

.upper_footer p {
	line-height: 20px;
}

.google_plus,
.facebook,
.twitter {
	font-size: 30px;
	color: 	 #83831F;
	padding-bottom: 15PX;
	text-decoration: none;
}

.google_plus:hover,
.facebook:hover,
.twitter:hover,
.icon-arrow-up:hover {
	color: #DFDAC7;
}

/* end upper footer */


/* lower footer */

.lower_footer {
	background-color: rgba(122, 64, 18,0.8);
	background-image: url(../images/asfalt-light.png);
	padding-top: 20px;
	padding-bottom: 10px;
	color: 	 #DFDAC7;
	font-weight: bold;
	font-size: 14px;
}

.lower_footer p:nth-child(1) {
	text-align: left;
}

.lower_footer p:nth-child(3) {
	text-align: right;
}

.spacing_lower {
	float: left;
	text-align: center;
	width: -moz-calc( (100% / 4) - ((1px * 3) / 4) );
	width: -webkit-calc( (100% / 4) - ((1px * 3) / 4) );
	width: calc( (100% / 4) - ((1px * 3) / 4) );
}

.icon-arrow-up {
	font-size: 30px;
	color: 	 #83831F;
}

.top_arrow {
	text-align: right;
	margin-bottom: 10px;
}



.clear {
clear: both;
}