@charset "utf-8";
/* CSS Document */

@import url("resets.css");
@import url("header.css");
@import url("page_content.css");
@import url("general_settings.css");
@import url("typography.css");
@import url("footer.css");
@import url("forms.css");

/* wrapper styles */





/* hero img styles */
.hp_img_relative {
	position: relative;
}

.hp_bg_img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
}

/*.course_info_bg_img {
	position: absolute;
	top: 0px;
	left: -842.5px;

}*/

/*.location_bg_img {
	position: absolute;
	top: 0px;
	left: -842.5px;

}*/

/* end hero img styles */



.tagline {
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 5;
}

.tagline h1 {
	font-size: 1.8em;
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
	color: #7A4012;
}

.welcome {
	width: 100%;
background-image: url(../images/asfalt-light.png);
background-color: #DFDAC7;
border-top: solid 2px #7A4012;
	border-bottom: solid 2px #7A4012;
}

.inner_welcome {
	padding: 50px 0 50px 0;
	background-image: url(../images/asfalt-light.png);
	background-color: #DFDAC7;
	color: #040F01;
	text-align: center;
	line-height: 1.2em;
	font-size: 1.2em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	min-width: 900px;
	max-width: 1500px;
	margin: 0 auto;
}

.inner_welcome h2 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 1.3em;
	color: #7A4012;
}

.inner_welcome p {
	font-family: 'Merriweather', serif;
	line-height: 30px;
		color: #7A4012;
}

.inner_welcome p:nth-child(4) {
	font-family: 'Merriweather', serif;
	padding-top: 10px;
	font-weight: bold;
	font-size: 1.3em;
}

.book_tee_time {
	position: absolute;
	top: 75%;
	left: 15%;
	width:200px;
	height: 50px;
	line-height: 45px;
	color: #DFDAC7;
	text-transform: uppercase;
	background-color: #7A4012;
	background-image:url(../images/asfalt-light.png);
	z-index: 5;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;
	
}


/* course Information styles */
/*.wrapper, .information_container {
	background-color: #DFDAC7;
}

.information_container {
	min-width: 960px;
	margin: 0 auto;
	background-color: #DFDAC7;
}






 .course_info_hero img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;

} 

.general_image_settings {
	height: 350px;
	width: 350px;
	text-align: center;
	margin: 20px;
	margin-bottom: 20px;
}

/* course info trans styles */

/*.restaurant:hover .restaurant_trans01,
.restaurant:target .restaurant_trans01,
.restaurant:focus .restaurant_trans01,
.restaurant:hover .restaurant_trans02,
.restaurant:target .restaurant_trans02,
.restaurant:focus .restaurant_trans02,
.restaurant:hover .restaurant_trans03,
.restaurant:target .restaurant_trans03,
.restaurant:focus .restaurant_trans03,

.pro_shop:hover .pro_shop_trans01,
.pro_shop:target .pro_shop_trans01,
.pro_shop:focus .pro_shop_trans01,
.pro_shop:hover .pro_shop_trans02,
.pro_shop:target .pro_shop_trans02,
.pro_shop:focus .pro_shop_trans02,
.pro_shop:hover .pro_shop_trans03,
.pro_shop:target .pro_shop_trans03,
.pro_shop:focus .pro_shop_trans03,

.green_fees:hover .green_fees_trans01,
.green_fees:target .green_fees_trans01,
.green_fees:focus .green_fees_trans01,
.green_fees:hover .green_fees_trans02,
.green_fees:target .green_fees_trans02,
.green_fees:focus .green_fees_trans02,
.green_fees:hover .green_fees_trans03,
.green_fees:target .green_fees_trans03,
.green_fees:focus .green_fees_trans03,

.tee_time:hover,
.tee_time:target,
.tee_time:focus {
	-webkit-transform: scale(1.2, 1.2);
	-moz-tansform: scale(1.2, 1.2);
	-o-tansform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.pro_shop_trans01,
.restaurant_trans01,
.green_fees_trans01,
.tee_time_trans01 {
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;

}

.pro_shop_trans02,
.restaurant_trans02,
.green_fees_trans02 {
	-webkit-transition: 0.33s ease;
	-moz-transition: 0.33s ease;
	-o-transition: 0.33s ease;
	transition: 0.33s ease;
}

.pro_shop_trans03,
.restaurant_trans03,
.green_fees_trans03 {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

/* end course info trans styles */



/*.course_info_transbox {
	height:96px;
	width: 350px;
	background-color: #7A4012; 
	opacity: 0.9;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;


}

.course_info_transbox h1, .tee_time_transbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
	
}

.tee_time {
	position: relative;
	background-image: url(../images/asfalt-light.png);
	background-color: #7A4012;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}


.tee_time_transbox {
	height:350px;
	width: 350px;

	opacity: 0.9;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

.restaurant {
	position: relative;
}

.pro_shop {
	position: relative;
}

.green_fees {
	position: relative;
} 

/* end course inforamtion styles */

/* contact us styles */

.inner_information {
	min-width: 900px;
max-width: 1500px;
margin: 0 auto;
}

.general_image_settings {
	height: 350px;
	width: 350px;
	float: left;
	text-align: center;
	margin: 5px;
	margin-bottom: 20px;
}

.location {
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;

}

.play {
	text-align: center;
	
	padding-top: 30px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1.5em;
}

.settings_google {
	width: 900px;
	height: 400px;

	border: solid #7A4012 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 30px;
}

.icon-mail, .icon-phone {
	font-size: 50px;
	position: absolute;
	top: 40px;
	left: 50px;
	color: 	#DFDAC7;
}

.inner_icons {
	width: 360px;
	margin: auto;

}

.contact_icons article {
 	position: relative;
}

.contact_icons h1 {
	position: absolute;
	top: 96px;
	left: 24px;
	color: 	#DFDAC7;
	font-family: 'Arvo', serif;
}


.telephone, .email {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: solid #DFDAC7 3px;
	display: block;
	float: left;
	margin-left: 40px;
	margin-bottom: 20px;
	background-color: #7A4012;

}

.telephone {
	margin-left: 0;

}

.contact_outer {
	width: 100%;
background-color: rgba(131,131,31,0.6);
	background-image: url(../images/asfalt-light.png);
border-top: solid 2px #7A4012;
	
}

.team,  {
	text-align: center;
	padding-bottom: 50px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1.5em;

}

.contact_info_transbox {
	height:96px;
	width: 350px;
	background-color: #7A4012; 
	opacity: 0.9;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.contact_info_transbox h1  {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 3px;
	font-size: 1.5em;
	
}

.contact_info_transbox h2  {

	font-weight: bold;
	padding-bottom: 5px;
	font-size: 1.2em;
	
}


.golf_pro {
	position: relative;
}

.green_keeper {
	position: relative;
}

.restaurant_manager {
	position: relative;
}

.gm {
	position: relative;
	
}


/* end contact us styles */

/* course Information styles */

.ci_container {
	display: table;
}


.information_container {
	width: 100%;
background-image: url(../images/asfalt-light.png);
background-color: #DFDAC7;
border-top: solid 2px #7A4012;
	border-bottom: solid 2px #7A4012;
	padding-top: 40px;
	padding-bottom: 40px;
}

.course_info_bg_img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.picture {
	float: left;
}

.general_image_settings_ci {
	height: 350px;
	width: 350px;
	
	text-align: center;
	margin: 5px;
	margin-bottom: 20px;
}

.information_speil {
	margin-right: 100px;
	margin-top: 50px;
	margin-left: 400px;
}

.information_speil p {
	padding-bottom: 15px;
	font-family: Arvo, serif;
	line-height: 1.3em;
}

.course_info_transbox {
	height:96px;
	width: 350px;
	background-color: #7A4012; 
	opacity: 0.9;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.course_info_transbox h1, .tee_time_transbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
	
}

.tee_time {
	position: relative;
	background-image: url(../images/asfalt-light.png);
	background-color: #7A4012;
}


.tee_time_transbox {
	height:350px;
	width: 350px;

	opacity: 0.9;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

.restaurant {
	position: relative;
}


.pro_shop {
	position: relative;
}

.green_fees {
	position: relative;
}

/* contact us styles */

