@charset "utf-8";
/* CSS Document */

@import url("resets.css");
@import url("header.css");
@import url("page_content.css");
@import url("general_settings.css");
@import url("typography.css");
@import url("footer.css");
@import url("forms.css");


/* hero img styles */
.hp_img_relative {
	position: relative;
}

.hp_bg_img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
}
/* end hero image styles */

/* wlecome message styles */

.tagline {
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 5;
}

.tagline h1 {
	font-size: 1.8em;
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
	color: #7A4012;
}

.welcome {
	width: 100%;
	background-image: url(../images/asfalt-light.png);
	background-color: #DFDAC7;
	border-top: solid 2px #7A4012;
	border-bottom: solid 2px #7A4012;
}

.inner_welcome {
	padding: 50px 0 50px 0;
	background-image: url(../images/asfalt-light.png);
	background-color: #DFDAC7;
	color: #040F01;
	text-align: center;
	line-height: 1.2em;
	font-size: 1.2em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	min-width: 900px;
	max-width: 1500px;
	margin: 0 auto;
}

.inner_welcome h2 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 1.3em;
	color: #7A4012;
}

.inner_welcome p {
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
}

.inner_welcome p:nth-child(4) {
	font-family: 'Marck Script', cursive;
	padding-top: 10px;
	font-weight: bold;
	font-size: 1.9em;
}

/* end welcome message styles */

/* book a tee time styles */

.book_tee_time {
	position: absolute;
	top: 75%;
	left: 15%;
	width:200px;
	height: 50px;
	line-height: 45px;
	border-radius: 
	text-transform: uppercase;
	background-color: #7A4012;
	background-image:url(../images/asfalt-light.png);
	z-index: 5;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;	
	border-radius: 10px;

}

.book_tee_time a {
	text-decoration: none;
	color: #DFDAC7;
}

.book_tee_time:hover {
-moz-box-shadow: 0px 0px 20px #dfdac7;
-webkit-box-shadow: 0px 0px 20px #dfdac7;
box-shadow: 0px 0px 20px #dfdac7;
}


/* end styles book a tee time */



/* styles course information */


.course_info_hero img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;

} 

.general_image_settings {
	height: 350px;
	width: 350px;
	text-align: center;
	margin: 20px;
	margin-bottom: 20px;
}


.restaurant {
	position: relative;
}

.pro_shop {
	position: relative;
}

.green_fees {
	position: relative;
} 

.ci_container {
	display: table;
}

.information_container {
	width: 100%;
	background-image: url(../images/asfalt-light.png);
	background-color: #DFDAC7;
	border-top: solid 2px #7A4012;
	border-bottom: solid 2px #7A4012;
	padding-top: 40px;
	padding-bottom: 40px;
}

.course_info_bg_img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.picture {
	float: left;
}

.general_image_settings_ci {
	height: 350px;
	width: 350px;
	border-radius: 10px;
	text-align: center;
	margin: 5px;
	margin-bottom: 20px;
}

.general_image_settings_ci img {
	border-radius: 10px;
}

.information_speil {
	margin-right: 100px;
	margin-top: 50px;
	margin-left: 400px;
}

.information_speil p {
	padding-bottom: 15px;
	font-family: Arvo, serif;
	line-height: 1.3em;
}

.course_info_transbox {
	height:96px;
	width: 350px;
	background-color: #7A4012; 
	opacity: 0.9;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.course_info_transbox h1 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
}

.restaurant {
	position: relative;
}

.pro_shop {
	position: relative;
}

.green_fees {
	position: relative;
}

/* end course inforamtion styles */

/* contact us styles */

.inner_information {
	min-width: 900px;
	max-width: 1500px;
	margin: 0 auto;
	text-align: centre;
}

.general_image_settings {
	height: 350px;
	width: 350px;
	float: left;
	text-align: center;
	margin: 5px;
	margin-bottom: 20px;
	opacity: 0.7;
}

.general_image_settings:hover {
	opacity: 1;
}

.location {
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
}

.play {
	text-align: center;
	
	padding-top: 30px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1.5em;
}

.settings_google {
	width: 900px;
	height: 400px;

	border: solid #7A4012 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 30px;
}

.icon-mail, .icon-phone {
	font-size: 50px;
	position: absolute;
	top: 40px;
	left: 50px;
	color: 	#DFDAC7;
}

.inner_icons {
	width: 360px;
	margin: auto;
}

.contact_icons article {
	position: relative;
}

.contact_icons h1 {
	position: absolute;
	top: 96px;
	left: 24px;
	color: 	#DFDAC7;
	font-family: 'Arvo', serif;
	font-size: 14px;
}


.telephone, .email {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: solid #DFDAC7 3px;
	display: block;
	float: left;
	margin-left: 40px;
	margin-bottom: 20px;
	background-color: #7A4012;
	opacity: 0.5;
}

.telephone:hover, 
.email:hover {
	opacity: 1;
	border: dotted #DFDAC7 3px;
}

.telephone {
	margin-left: 0;
}

.contact_outer {
	width: 100%;
	background-color: rgba(131,131,31,0.6);
	background-image: url(../images/asfalt-light.png);
	border-top: solid 2px #7A4012;
}



.team  {
	text-align: center;
	padding-bottom: 50px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1.5em;
}

.contact_info_transbox {
	height:96px;
	width: 350px;
	background-color: #7A4012; 
	opacity: 0.9;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.contact_info_transbox h1  {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 3px;
	font-size: 1.5em;
}

.contact_info_transbox h2  {

	font-weight: bold;
	padding-bottom: 5px;
	font-size: 1.2em;
}

.golf_pro {
	position: relative;
}

.green_keeper {
	position: relative;
}

.restaurant_manager {
	position: relative;
}

.gm {
	position: relative;
}


/* end contact us styles */




/* tee time styles */


.outer_form {
	width: 100%;
	width: 100%;
	background-image: url(../images/asfalt-light.png);
	background-color: #DFDAC7;
	border-top: solid 2px #7A4012;
	border-bottom: solid 2px #7A4012;
}

.inner_form {
	min-width: 900px;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.inner_form h1 {
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}

.inner_form h2 {
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
	line-height: 30px;
	color: #7A4012;
	font-size: 2em;
	line-height: 1em;
}

.inner_form h2:nth-child(3) {
	padding-bottom: 30px;
}


.inner_form p {
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #7A4012;
	font-size: 1em;
	line-height: 1em;
	padding-bottom: 15px;
	padding-top: 15px;
}

fieldset {
	text-align: center;
}

select {
	text-align: center;
}

.booking_form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 40%;
	background-image: url(../images/asfalt-light.png);
	background-color: 	 #83831F;
	font-weight:  bold;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 5px solid 	 #7A4012;
	padding: 5px;
	padding-bottom: 30px;
	-moz-box-shadow: 0 0 10px 10px #b3a580;
	-webkit-box-shadow: 0 0 10px 10px #b3a580;
	box-shadow: 0 0 10px 10px 	 #AE9C2C;
	outline: 5px solid #DFDAC7;
	font-family: 'Arvo', serif;
}

.submit input[type="submit"] {
	width: auto;
	position: relative;
	margin-top: 20px;
	background-color: #b7c68b;
	font-family: "merriweather", serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #685642;
}
#btn_submit:hover {
	-moz-box-shadow: 0 0 35px rgba(244,240,203,0.7);
	-webkit-box-shadow: 0 0 35px rgba(244,240,203,0.7);
	box-shadow: 0 0 35px rgba(244,240,203,0.7);
}
